
/*========================
layout/shortcodes/list.html 
=========================*/
.boxlight {
  background: $dark-color;/*背景色*/
  box-shadow: 0px 0px 0px 10px $dark-color;/*線の外側*/
  padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
  margin: 40px;
  padding: 5px;
  border: double 10px #212020;/*線の種類 太さ 色*/
  color: #212020;
  @media (prefers-color-scheme: light){
    background-color: $light-background-secondary;
    box-shadow: 0px 0px 0px 10px $light-background-secondary;
  }
  }
  .boxlight ul {
    list-style-type: none;
  }
  .boxlight li {
  margin: 5px;
  }
  .boxlight li i {
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
  }