<body>
  <div class="container">
    <form name="contact" method="POST" data-netlify="true">
      <div class="half">
        <div class="item">
          <label for="name">名前</label>
          <input type="text" id = "name">
        </div>
        <div class="item">
          <label for="email">メール</label>
          <input type="text" id = "email">
        </div>
      </div>
      <div class="full">
        <label for="message">内容</label>
        <textarea name="" id = "message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "送信">
      </div>
    </form>
  </div>

  </body>